.upload-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.dropzone {
  background: rgb(82, 219, 174);
  height: 30px;
  width: 240px;
  box-shadow: 0px 4px 0px rgb(45, 134, 105);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
}

img{
  margin: 20px auto;
}

.dropzone:active {
  box-shadow: 0px 1px 0px rgb(45, 134, 105);
}

.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}